<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<% @game.country_ranking.each do |country| %>
  <%= "#{country.name}: #{country.points}, Gold: #{country.gold} Silver: #{country.silver} Bronze: #{country.bronze}"%> <br>

<%end %>

</body>
</html>