<!DOCTYPE html>
<html>
<head>
  <title>Olympic Games</title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="/olympic.css">
</head>
<body>
  <header>
  <h1 class = "branding"><%= settings.game.name %></h1>
  <br>
  </header>

  <nav>
    <ul>
      <li><a href="/athletes">Athletes</a></li>
      <li><a href="/countries">Countries</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/participations">Athletes Results</a></li>
      <li><a href="/ranking">Country Ranking</a></li>
      <li><a href="/sports">Sports</a></li>
      <li><a href="/schedule">Schedule</a></li>
    </ul>
  </nav>
  <div class="container">
  <%= yield  %>
  </div>

  <footer>
  
  </footer>


</body>
</html>