<h1>Create an athlete </h1>

<form action = "/athletes" method = "post">

<label for= "name" >Name</label>
<input type="text" name="name" value="">  

<label for= "sport_id" >Sport</label>
<input type="text" name="sport_id" value="">

<label for= "country_id" >Country</label>
<input type="text" name="country_id" value="">

<input type="submit" value = "Send">
</form>