<h1>Edit a Sport </h1>

<form action = "/sports/<%= @sport.id %>" method = "post">

<label for= "name" >Name</label>
<input type="text" name="name" value="<%= @sport.name %>">  

<input type="submit" value = "Send">
<input type="hidden" name="_method" value = "put">


</form>