<h1>Create an participation </h1>

<form action = "/participations" method = "post">

<label for= "athlete_id" >Athlete</label>
<input type="text" name="athlete_id" value="">  

<label for= "sport_id" >Sport</label>
<input type="text" name="sport_id" value="">

<label for= "event_id" >Event</label>
<input type="text" name="event_id" value="">

<label for= "athlete_position" >Athlete position</label>
<input type="number" name="athlete_position" value="">

<label for= "game_id" >Game</label>
<input type="number" name="game_id" value="">

<input type="submit" value = "Send">

</form>