<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  Participation#
  <%= "#{@participation.id}: Athlete: #{@participation.athlete_id}, Event: #{@participation.event_id}, Athlete Position: #{@participation.athlete_position}"%> <br>



</body>
</html>