<h1>Create an event </h1>

<form action = "/events" method = "post">

<label for= "sport_id" >Sport</label>
<input type="text" name="sport_id" value="">  

<label for= "event_date" >Date</label>
<input type="date" name="event_date" value="">

<label for= "event_time" >Time</label>
<input type="time" name="event_time" value="">

<input type="submit" value = "Send">

</form>