<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  Event#
  <%= "#{@event.id}: Sport: #{@event.sport_id}, Date: #{@event.event_date}, Time: #{@event.event_time}"%> <br>



</body>
</html>